{{ define "commands-row-edit" }}
  <div class="table-row" id="datarow-{{ .Id }}">
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pl-2 text-slate-500 dark:text-slate-400"
    >
      {{ .Id }}
    </div>
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pl-2 text-slate-500 dark:text-slate-400"
    >
      <label>
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          data-include-edit="{{ .Id }}"
          name="name"
          value="{{ .Name }}"
        />
      </label>
    </div>
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pl-2 text-slate-500 dark:text-slate-400"
    >
      <label>
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          data-include-edit="{{ .Id }}"
          name="command"
          value="{{ .Command }}"
        />
      </label>
    </div>
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400"
    >
      <label>
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          data-include-edit="{{ .Id }}"
          name="description"
          value="{{ .Description }}"
        />
      </label>
    </div>
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pr-8 text-slate-500 dark:text-slate-400 min-w-fit"
    >
      {{ if .Tags }}
        <ul>
          {{ $total := len .Tags }}
          {{ range $index, $tag := .Tags }}
            <!-- Hack to decrement the total number of tags by 1 and check if the -->
            <!-- current index is the last one without creating a custom function -->
            <!-- https://stackoverflow.com/a/72465098/8787680 -->
            {{ $lastIndex := eq $index (len (slice (printf "%*s" $total "") 1)) }}
            {{ if $lastIndex }}
              <li><code>{{ $tag }}</code></li>
            {{ else }}
              <li class="mb-4"><code>{{ $tag }}</code></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ else }}
        <span class="italic text-slate-300 dark:text-slate-500">No tags</span>
      {{ end }}
    </div>
    <div
      class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pr-8 text-slate-500 dark:text-slate-400 min-w-fit"
    >
      <button
        hx-put="/command/save/{{ .Id }}"
        hx-target="#datarow-{{ .Id }}"
        hx-swap="outerHTML"
        hx-indicator="#loading"
        hx-include="input[data-include-edit='{{ .Id }}']"
        class="inline-flex items-center p-1 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded focus:shadow-outline hover:bg-blue-800"
      >
        Save
      </button>
      <button
        hx-get="/command/get/{{ .Id }}"
        hx-target="#datarow-{{ .Id }}"
        hx-swap="outerHTML"
        hx-indicator="#loading"
        class="inline-flex items-center p-1 text-sm text-red-100 transition-colors duration-150 bg-red-700 rounded focus:shadow-outline hover:bg-red-800"
      >
        Cancel
      </button>
    </div>
  </div>
{{ end }}
