{{ define "commands" }}
  <div id="commands">
    <div id="loading" class="htmx-indicator">Loading data...</div>
    {{ template "commands-action-row" }}
    <div class="shadow-lg my-8">
      <div
        class="table border-collapse table-auto w-full text-sm overflow-x-auto"
      >
        {{ template "commands-table-header-row" }}
        <div
          class="table-row-group bg-white dark:bg-slate-800"
          hx-target="closest div"
          hx-swap="outerHTML"
        >
          {{ range . }}
            {{ template "commands-row" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
