<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/static/htmx.js" type="text/javascript"></script>
    <title>ShellShelf</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body class="m-8 bg-white dark:bg-slate-800">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl my-2 font-bold dark:text-white">ShellShelf</h1>
      <a
        href="#settings"
        class="text-xl my-2 underline font-medium dark:text-white"
      >
        Settings
      </a>
    </div>

    <div class="shadow-lg my-8">
      <div
        class="table border-collapse table-auto w-full text-sm overflow-x-auto"
      >
        <div class="table-header-group">
          <div class="table-row">
            <div
              class="table-cell border-b dark:border-slate-600 text-lg p-2 pl-2 pt-0 pb-3 text-slate-700 font-bold dark:text-slate-200 text-left"
            >
              Name
            </div>
            <div
              class="table-cell border-b dark:border-slate-600 text-lg p-2 pl-2 pt-0 pb-3 text-slate-700 font-bold dark:text-slate-200 text-left"
            >
              Command
            </div>
            <div
              class="table-cell border-b dark:border-slate-600 text-lg p-2 pt-0 pb-3 text-slate-700 font-bold dark:text-slate-200 text-left"
            >
              Description
            </div>
            <div
              class="table-cell border-b dark:border-slate-600 text-lg p-2 pr-8 pt-0 pb-3 text-slate-700 font-bold dark:text-slate-200 text-left"
            >
              Tags
            </div>
          </div>
        </div>
        <div class="table-row-group bg-white dark:bg-slate-800">
          {{ range . }}
            <div class="table-row">
              <div
                class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pl-2 text-slate-500 dark:text-slate-400"
              >
                {{ .Name }}
              </div>
              <div
                class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pl-2 text-slate-500 dark:text-slate-400"
              >
                <pre
                  class="whitespace-pre-wrap overflow-x-auto min-w-full max-w-prose"
                >
{{ .Command }}</pre
                >
              </div>
              <div
                class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400"
              >
                {{ if .Description }}
                  {{ .Description }}
                {{ else }}
                  <span class="italic text-slate-300 dark:text-slate-500"
                    >No description</span
                  >
                {{ end }}
              </div>
              <div
                class="table-cell border-b border-slate-100 dark:border-slate-700 p-2 pr-8 text-slate-500 dark:text-slate-400 min-w-fit"
              >
                {{ if .Tags }}
                  <ul>
                    {{ $total := len .Tags }}
                    {{ range $index, $tag := .Tags }}
                      <!-- Hack to decrement the total number of tags by 1 and check if the -->
                      <!-- current index is the last one without creating a custom function -->
                      <!-- https://stackoverflow.com/a/72465098/8787680 -->
                      {{ $lastIndex := eq $index (len (slice (printf "%*s" $total "") 1)) }}
                      {{ if $lastIndex }}
                        <li><code>{{ $tag }}</code></li>
                      {{ else }}
                        <li class="mb-4"><code>{{ $tag }}</code></li>
                      {{ end }}
                    {{ end }}
                  </ul>
                {{ else }}
                  <span class="italic text-slate-300 dark:text-slate-500"
                    >No tags</span
                  >
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
