<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/static/htmx.js" type="text/javascript"></script>
    <title>ShellShelf</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body class="m-8 bg-white dark:bg-slate-800">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl my-2 font-bold dark:text-white">ShellShelf</h1>
      <a
        href="#settings"
        class="text-xl my-2 underline font-medium dark:text-white"
      >
        Settings
      </a>
    </div>
    <div>{{ template "commands" . }}</div>
  </body>
</html>
