### Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
pytestdebug.log

# pyenv
.python-version

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db
